
@media (min-width:992px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="6e504189-f0b7-37ac-bd3c-bd7829c76664"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="323e6667-000d-7842-ca18-130603c0cd4a"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9edd87f6-4dc4-562c-9c04-ef3a64bfd9cb"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="7a80e6f7-4920-60d8-2d55-d03b35ef18fc"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="a759092c-caaa-7dff-27ae-a461bf8f8555"] {
    opacity: 0;
  }
}
@media (max-width:991px) and (min-width:768px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="6e504189-f0b7-37ac-bd3c-bd7829c76664"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="323e6667-000d-7842-ca18-130603c0cd4a"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9edd87f6-4dc4-562c-9c04-ef3a64bfd9cb"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="7a80e6f7-4920-60d8-2d55-d03b35ef18fc"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="a759092c-caaa-7dff-27ae-a461bf8f8555"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="d108d1e4-ab07-8899-31dc-2d2c0738b01e"] {
    -webkit-transform: translate3d(60px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(60px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(60px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(60px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="d4db2b3a-bb31-57ef-629c-8ce4e3eb50a0"] {
    -webkit-transform: translate3d(60px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(60px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(60px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(60px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
}
@media (max-width:767px) and (min-width:480px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="6e504189-f0b7-37ac-bd3c-bd7829c76664"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="323e6667-000d-7842-ca18-130603c0cd4a"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9edd87f6-4dc4-562c-9c04-ef3a64bfd9cb"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="7a80e6f7-4920-60d8-2d55-d03b35ef18fc"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="a759092c-caaa-7dff-27ae-a461bf8f8555"] {
    opacity: 0;
  }
}
@media (max-width:479px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="6e504189-f0b7-37ac-bd3c-bd7829c76664"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="323e6667-000d-7842-ca18-130603c0cd4a"] {
    opacity: 0;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="9edd87f6-4dc4-562c-9c04-ef3a64bfd9cb"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="7a80e6f7-4920-60d8-2d55-d03b35ef18fc"] {
    opacity: 0.5;
  }
  html.w-mod-js:not(.w-mod-ix) [data-w-id="a759092c-caaa-7dff-27ae-a461bf8f8555"] {
    opacity: 0;
  }
}


.w-slider-dot {
  background: white;
  opacity: 0.5;
}
.w-slider-dot.w-active {
  background: #17233E;
  opacity: 1;
}
a[href^="tel"] {
  color: inherit;
  /* Inherit text color of parent element. */
  text-decoration: none;
  /* Remove underline. */
  /* Additional css `propery: value;` pairs here */
}